%section
  - if @user.present?
    .page-header
      %h1
        = "#{@user.name} Profile"

    .row-fluid
      .span6
        .profile
          .thumb
            = link_to image_tag(get_user_avatar_url(@user), :height => '140px', :width => '140px'), profile_path(@user)
          .info
            = @user.name
            %br
            Location:
            = @user.location || 'Unknown'
            %br/
            = @user.updated_at.strftime("Since: %e %b, %Y")
          = render 'mates/actions', :user => @user
      .span6
        RIGHT COL

  - else
    No such user found!
