.page-header
  %h1
    Blocked Mate Requests

.row-fluid
  .span12
    - if @mates.present?
      - for mate in @mates
        .mate
          .thumb
            = link_to image_tag(get_user_avatar_url(mate), :height => '140px', :width => '140px'), profile_path(mate)
          .info
            = mate.name
            %br
            Location:
            = mate.location || 'Unknown'
            %br/
            = mate.updated_at.strftime("Since: %e %b, %Y")
          .actions
            = link_to 'Unblock', unblock_mate_path(mate), :class => 'btn btn-primary btn-mini', :method => :put

      .clearfix
      /= pagination_links(@mates)
    - else
      .alert.alert-error
        Oh no! You're so lonely. Start adding friends now!