.page-header
  %h1
    My Mates

.row-fluid
  %a.dialog.btn{:href => search_mates_path}
    Find Mates

.row-fluid
  .span12
    - if @mates.present?
      - for mate in @mates
        .mate
          .thumb
            = link_to image_tag(get_user_avatar_url(mate), :height => '140px', :width => '140px'), profile_path(mate)
          .info
            = mate.name
            %br
            Location:
            = mate.location || 'Unknown'
            %br/
            = mate.updated_at.strftime("Since: %e %b, %Y")
          .actions
            - if mate.friend_with? current_user
              = link_to 'Remove Mate', remove_mate_path(mate), :class => 'btn btn-danger btn-mini', :method => :put
              = link_to 'Block mate', block_mate_path(mate), :class => 'btn btn-danger btn-mini', :method => :put

      .clearfix
      /= pagination_links(@mates)
    - else
      .alert.alert-error
        Oh no! You're so lonely. Start adding friends now!