%h1 Pending Acceptance

.row-fluid
  .span12
    - for friendship in @outgoing
      - mate = friendship.friend
      .mate
        .thumb
          = link_to image_tag(get_user_avatar_url(mate), :height => '140px', :width => '140px'), user_path(mate)
        .info
          = mate.name
          %br
          Location:
          = mate.location || 'Unknown'
          %br
          = friendship.updated_at.strftime("Sent: %e %b, %Y")
    .clearfix
    = pagination_links(@outgoing)

%h1 Incoming Requests

.row-fluid
  .span12
    - for friendship in @incoming
      - mate = friendship.user
      .mate
        .thumb
          = link_to image_tag(get_user_avatar_url(mate), :height => '140px', :width => '140px'), user_path(mate)
        .info
          = mate.name
          %br
          Location:
          = mate.location || 'Unknown'
          %br
          = friendship.updated_at.strftime("Received: %e %b, %Y")
          = link_to 'Accept', friendship_accept_path(friendship), :method => :put, :class => 'btn btn-primary'
          = link_to 'Reject', friendship_reject_path(friendship), :method => :put, :class => 'btn btn-danger'
    .clearfix
    = pagination_links(@incoming)

