%h1 Search Mates
.row-fluid
  .span12
    = form_for(:user, :html =>  {:url => mates_search_path, :method => 'get'}) do |f|
      = f.label :name
      = f.text_field :name
      %br
      = f.submit 'Search', :class => 'btn btn-primary'
    - if @users.present?
      .mates
        - @users.each do |user|
          .mate
            .thumb
              = link_to image_tag(get_user_avatar_url(user), :height => '140px', :width => '140px'), profile_path(user)
            .info
              = user.name
              %br
              Location:
              = user.location || 'Unknown'
              %br
            = render 'mates/actions', :user => user
        .clearfix
    - else
      .alert.alert-error
        Oh no! You're so lonely. Start adding friends now!