- if movie.present?
  .movie.offset1
    .poster
      = link_to(image_tag(get_movie_poster_path(movie.cover_image), {:width => 80, :height => 100}), movie_path(movie.id))
    .info
      %h3
        = link_to "#{movie.name} (#{movie.released})" , movie_path(movie.id)

      - if movie.certificate.present?
        %strong Certificate
        %span.badge.badge-info
          = movie.certificate
        &nbsp;&nbsp;
      %strong
        Rating
      %span.badge.badge-inverse{title: "#{movie.imdb_rating.to_s} out of 10"}
        = movie.imdb_rating.to_s
    .overview
      - if movie.overview.present?
        = truncate(movie.overview, {length: 300})
    .clearfix
    .starrings
      %strong
        Starrings:
      Tom Cruise, Tom Hanks, Kate Winslet