%table{:class => "table table-bordered table-striped"}
  %thead
    %tr
      %td{:colspan => 2} Movie Details
  %tbody
    %tr
      %td=t("activerecord.attributes.movies.name", :default => t("activerecord.labels.name", :default => "Name"))
      %td= @movie.name
    %tr
      %td= t("activerecord.attributes.movies.overview", :default => t("activerecord.labels.overview", :default => "Overview"))
      %td= @movie.overview
    %tr
      %td=t("activerecord.attributes.movies.duration", :default => t("activerecord.labels.duration", :default => "duration"))
      %td= @movie.duration
    %tr
      %td=t("activerecord.attributes.movies.is_public", :default => t("activerecord.labels.is_public", :default => "Is Public"))
      %td= @movie.is_public
    %tr
      %td=t("activerecord.attributes.movies.imdbid", :default => t("activerecord.labels.imdbid", :default => "IMDB ID"))
      %td= @movie.imdbid
    %tr
      %td=t("activerecord.attributes.movies.imdb_rating", :default => t("activerecord.labels.imdb_rating", :default => "IMDB Rating"))
      %td= @movie.imdb_rating
    %tr
      %td=t("activerecord.attributes.movies.certificate", :default => t("activerecord.labels.certificate", :default => "Certificate"))
      %td= @movie.certificate
    %tr
      %td=t("activerecord.attributes.movies.tmdbid", :default => t("activerecord.labels.tmdbid", :default => "Tmdbid"))
      %td= @movie.tmdbid
    %tr
      %td=t("activerecord.attributes.movies.released", :default => t("activerecord.labels.released", :default => "Released"))
      %td= @movie.released


.form-actions
  = link_to "Back", movie_path, :class => 'btn'
  = link_to "Edit", edit_movie_path(@movie), :class => 'btn'
  = link_to "Delete", movie_path(@movie), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-danger'