%p#notice= notice

%p
  %b Movie:
  = @review.movie.name
%p
  %b Review:
  = @review.review
%p
  %b Impact:
  = @review.impact

= link_to 'Edit', edit_review_path(@review)
\|
= link_to 'Back', reviews_path
